.main {
  background-color: white;
  color: #242747;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 20% 6rem 20%;
  min-height: 100vh;
  overflow-x: scroll;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: #ccd7f1;
  border-left: 5px solid #485dbf;
  border-radius: 5px;
}

.weathercard {
  margin: 0.25rem;
  position: relative;
  border: 1px solid lightgray !important;
}

.stickyweathercard {
  position: fixed !important;
  margin: .25rem 20% .25rem 20%;
  top: 0;
  z-index: 1000; /* Ensure it's above other content */
}

#dates {
  background: #485dbf;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #809cda, #485dbf);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #809cda, #485dbf); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px solid #627ccf;
}

#dates tr {
  border: none;
  background: transparent;
}

#dates th {
  color: white;
}

.tablediv {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.tablediv table {
  width: 100%;
  table-layout: fixed; /* Ensure equal column widths */
  border-collapse: collapse;
}

.tabletitle {
  font-size: 12px;
  width: auto;
  text-align: center;
  word-wrap: break-word;
}

.tablediv p {
  font-size: 12px;
  width: 6rem;
}

.tablediv th {
  width: 1rem;
  font-weight: 450;
}

.tabletitle {
  min-width: 5rem;
  padding: 2px;
  position: sticky;
  left: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-top: 5rem;
    min-height: 100vh;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: white;
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  #dates {
    position: sticky;
    top: 2rem;
  }
}
